img {
    max-width: 100%;
}

.imagen-cuadrilla {
    max-width: 95%;
    margin: 5px;
    transition: all .5s ease;
}

.imagen-cuadrilla:hover {
    opacity: 1;
}

.imagen-cuadrilla:hover {
    cursor: pointer;
}

.imagen-expandida {
    max-width: 80vw;
    justify-self: center;
    align-self: center;
    margin-top: 12px;
}


@media screen and (min-width: 480px) {
    .imagen-cuadrilla {
        max-width: 45%;
        margin: 5px;

    }
}

@media screen and (min-width: 768px) {
    .imagen-cuadrilla {
        max-width: 30%;
        margin: 5px;
    }
}

