.indicador-chico{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
}

.indicador-grande{
    width: 15px;
    height:  15px;
    border-radius: 50%;
    background-color: white;

}