.contenedorDescripcion {
	margin-top: 12px;
	padding: 5px 20px;
	background-color: rgba(0, 0, 0, 0.63);
	font-size: 18px;
	animation-name: descripcion;
	animation-duration: .5s;
	min-width: 100%;
	text-align: left;
	
	& > [class*="titulo"] {
		margin: 5px;
		padding: 0;
		text-align: left;
	}
}

.descripcion {
	margin-top: 15px;
	margin-left: 25px;
}

@keyframes descripcion {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}