.contenedorIndicadores {
	position: absolute;
	z-index: 2;
	bottom: 35px;
	left: 50%;
	transform: translate(-60%);
	background-color: black;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
}

.chico {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	margin: 0 5px;
}

.grande {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
}